@{
    ViewData["Title"] = "Home Page";
}

<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Salary</th>
                    <th>Designation</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section Scripts{
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    ajax: {
                        url: "Home/GetEmployeeList",
                        type: "POST", 
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    columns: [
                        { data: "employeeId", name: "EmployeeId" },
                        { data: "employeeFirstName", name: "EmployeeFirstName" },
                        { data: "employeeLastName", name: "EmployeeLastName" },
                        { data: "salary", name: "Salary" },
                        { data: "designation", name: "Designation" },
                    ]
                }
            );
        });
    </script>

}
